<!--
EDITS TO MAKE:
- update the social media icon images
- Make sure sizing is correct
-->


<!-- INTRODUCTION -->
<div class="profile-section">
    <img class="profile-image" src="path_to_profile_image.jpg" alt="Aurora Brickwell">
    <div class="intro-text">
        Hi! My name is Aurora Brickwell! I'm the founder of the Brickwell Shop and I'm so happy you've found my site. I want to share my passion with you! Follow along my journey to learn how I got where I am today!
    </div>
    
    <!-- CONNECT WITH US -->
    <div class="social-section">
        <p>CONNECT WITH US!</p>
        <div class="social-icons">
            <!-- Icons would be anchor tags linking to your social media -->
            <a href="https://www.tiktok.com/"><img src="tiktok_icon.png" alt="TikTok"></a>
            <a href="https://www.instagram.com/"><img src="instagram_icon.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/"><img src="facebook_icon.png" alt="Facebook"></a>
        </div>
    </div>
</div>




<!-- JOURNEY/TIMELINE -->
<div class="event event-left">
    <div class="event-text">
        In 2004, I got my very first LEGO set - the Imperial Star Destroyer - and I was immediately hooked!
    </div>
    <img class="event-image" src="..wwwroot/Assets/firstLegoSet.png" alt="Event 1">
</div>

<div class="event event-right">
    <img class="event-image" src="..wwwroot/Assets/legoCompetition.png" alt="Event 2">
    <div class="event-text">
        In 2008 my family supported me in my first LEGO STEM competition where I placed 2nd.
    </div>
</div>

<div class="event event-left">
    <div class="event-text">
        Over the years, I started coming up with my own designs that landed me in the local paper.
    </div>
    <img class="event-image" src="..wwwroot/Assets/newspaper.png" alt="Event 3">
</div>

<div class="event event-right">
    <img class="event-image" src="..wwwroot/Assets/summerCamp.png" alt="Event 4">
    <div class="event-text">
        Every summer during high school, I volunteered as a LEGO camp counselor where I helped kids unleash their creativity.
    </div>
</div>

<div class="event event-left">
    <div class="event-text">
        In college I started my social media channel dedicated to sharing about my favorite creations and got so much support!
    </div>
    <img class="event-image" src="..wwwroot/Assets/contentCreator.png" alt="Event 5">
</div>

<div class="event event-right">
    <img class="event-image" src="..wwwroot/Assets/2.png" alt="Event 6">
    <div class="event-text">
        This year, I decided to open up shop officially and share my favorite designs and favorite sets with the world.
    </div>
</div>

<div class="final-note">
    Thank you for being a part of my LEGO journey! I wish you the best of luck on your own and I'm honored to play a part - however small it may be - in your creativity.
</div>