html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.antic-regular {
  font-family: "Antic", sans-serif;
  font-weight: 400;
  font-style: normal;
}




/* NAV BAR STYLES */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

div {
  box-sizing: border-box;
}



/* FOOTER STYLES */
/* Base styles for nav items */
.nav-item, .nav-item-admin {
  color: white;
  font-size: 40px;
  font-family: 'Antic', sans-serif;
  font-weight: 400;
  margin: 0 20px;
  flex: 1; /* This allows the items to grow and shrink as needed */
  text-align: center; /* Center the text inside each nav item */
}

/* Container holding the nav items */
.nav-container {
  display: flex;
  justify-content: space-around; /* This will space out the nav items evenly */
  align-items: center;
  width: 100%; /* Take full width of its parent */
  height: 100px;
  background: #F06525;
  border-radius: 30px;
}

/* Responsive font sizes */
@media (max-width: 1024px) {
  .nav-item, .nav-item-admin {
    font-size: 30px; /* Smaller font size for tablet screens */
  }
}

@media (max-width: 768px) {
  .nav-item, .nav-item-admin {
    font-size: 20px; /* Even smaller font size for mobile screens */
  }
}


/* FOOTER STYLES */
.Footer {
  width: 100%;
  height: 150px;
  background: #5271FF;
  border-radius: 30px;
  color: white;
  position: relative;
}

.footer-item {
  position: absolute;
  font-size: 16px;
  font-family: Antic, sans-serif;
  font-weight: 400;
}

