@*
Page done by Grace Kemp

TO DO:
- we need to connect Role with a foreign key... do I need to use the ViewModel instead of AspNetUser*@

@* @model TheWaterProject.Models.AspNetUser *@
@* *@
@* <form asp-action="Create"> *@
@*     <div> *@
@*         <label asp-for="Id">User ID</label> *@
@*         <input asp-for="Id" /> *@
@*     </div> *@
@*     <div> *@
@*         <label asp-for="UserName">Username</label> *@
@*         <input asp-for="UserName" /> *@
@*     </div> *@
@*     <div> *@
@*         <label asp-for="Email">Email</label> *@
@*         <input asp-for="Email" /> *@
@*     </div> *@
@*     <div> *@
@*         <label asp-for="PhoneNumber">PhoneNumber</label> *@
@*         <input asp-for="PhoneNumber" /> *@
@*     </div> *@
@* *@
@*     <div> *@
@*         <label asp-for="Role">Role</label> *@
@*         <input asp-for="Role" /> *@
@*     </div> *@
@*     <button type="submit">Create</button> *@
@* </form> *@